.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.navbarLeft {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLogo {
  font-family: 'Jolly Lodger', cursive; /* equivalent to font-jolly-lodger */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white; /* equivalent to text-white */
  font-size: 3rem; /* equivalent to text-5xl */
  margin-top: 1rem; /* equivalent to mt-8 */
  cursor: pointer; /* equivalent to cursor-pointer */
  margin-left: 1rem; /* equivalent to ml-36 */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  margin-top: 4%;
  width: 100%;
}

.navbarLogo img {
  height: 120px; /* Adjusted height */
  width: 120px; /* Adjusted width */
  position: absolute;
}

.navbarLogoLink {
  font-size: 2.5rem; /* Adjusted font size for the main text */
  color: white;
  text-align: start;
  margin-bottom: 0.25rem; /* Space between title and subtitle */
  margin-left: 28%;
  margin-top: 5%;
}

.navbarLogoSubtitle {
  font-size: 1.25rem; /* Smaller font size for subtitle */
  color: white;
  text-align: start;
  margin-left: 30%;
}

.navbarRight {
  width: 30%;
}

.navbarItems {
  width: 80%;
}

.navbarItems ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.navbarItems ul li {
  list-style-type: none;
  font-size: 16px;
  cursor: pointer;
}

.navbarItems ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.navbarItems ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ff8a00, #d0a713);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbarItems ul li a:hover::after {
  opacity: 1;
}

.navbarItems ul li a:hover {
  background: -webkit-linear-gradient(#ff8a00, #d0a713);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.navbarRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.login {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  margin-right: 2rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.avatar {
  width: 2rem;
  margin-right: 1.2em;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
}

.handleDrawerIcon {
  display: none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  margin-left: 10px;
}

@media (max-width: 1199px) {
  .navbarLeft {
    width: 65%;
  }
  .navbarRight {
    width: 30%;
  }

  .navbarLogo {
    font-family: 'Jolly Lodger', cursive; /* equivalent to font-jolly-lodger */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white; /* equivalent to text-white */
    font-size: 3rem; /* equivalent to text-5xl */
    margin-top: 1rem; /* equivalent to mt-8 */
    cursor: pointer; /* equivalent to cursor-pointer */
    margin-left: 1rem; /* equivalent to ml-36 */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin-top: 5%;
    width: 100%;
  }

  .navbarLogo img {
    height: 100px; /* Adjusted height */
    width: 100px; /* Adjusted width */
    position: absolute;
  }
  
  .navbarLogoLink {
    font-size: 2rem; /* Adjusted font size for the main text */
    color: white;
    text-align: start;
    margin-bottom: 0.25rem; /* Space between title and subtitle */
    margin-left: 32%;
    /* margin-top: 10%; */
  }
  
  .navbarLogoSubtitle {
    font-size: 1.25rem; /* Smaller font size for subtitle */
    color: white;
    text-align: start;
    margin-left: 35%;
  }
}

@media (max-width: 958px) {
  .navbarLeft {
    width: 65%;
  }
  .navbarRight {
    width: 30%;
  }

  .navbarLogo {
    font-family: 'Jolly Lodger', cursive; /* equivalent to font-jolly-lodger */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white; /* equivalent to text-white */
    font-size: 3rem; /* equivalent to text-5xl */
    margin-top: 1rem; /* equivalent to mt-8 */
    cursor: pointer; /* equivalent to cursor-pointer */
    margin-left: 1rem; /* equivalent to ml-36 */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin-top: 5%;
    width: 100%;
  }

  .navbarLogo img {
    height: 100px; /* Adjusted height */
    width: 100px; /* Adjusted width */
    position: absolute;
  }
  
  .navbarLogoLink {
    font-size: 1.4rem; /* Adjusted font size for the main text */
    color: white;
    text-align: start;
    margin-bottom: 0.25rem; /* Space between title and subtitle */
    margin-left: 38%;
    /* margin-top: 10%; */
  }
  
  .navbarLogoSubtitle {
    font-size: 1rem; /* Smaller font size for subtitle */
    color: white;
    text-align: start;
    margin-left: 40%;
  }

  .icon {
    margin-right: 0.5rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .avatar {
    width: 1.5rem;
    margin-right: 0.3em;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
  }
}

@media (max-width: 766px) {
  .navbarLeft {
    width: 65%;
  }
  .navbarRight {
    width: 30%;
  }
  .navbarLogo {
    font-family: 'Jolly Lodger', cursive; /* equivalent to font-jolly-lodger */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white; /* equivalent to text-white */
    font-size: 3rem; /* equivalent to text-5xl */
    margin-top: 1rem; /* equivalent to mt-8 */
    cursor: pointer; /* equivalent to cursor-pointer */
    margin-left: 1rem; /* equivalent to ml-36 */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin-top: 15%;
    width: 150%;
  }

  .navbarLogo img {
    height: 80px; /* Adjusted height */
    width: 80px; /* Adjusted width */
    position: absolute;
  }
  
  .navbarLogoLink {
    font-size: 1.3rem; /* Adjusted font size for the main text */
    color: white;
    text-align: start;
    margin-bottom: 0.25rem; /* Space between title and subtitle */
    margin-left: 34%;
    /* margin-top: 10%; */
    text-align: center;
  }
  
  .navbarLogoSubtitle {
    font-size: 1rem; /* Smaller font size for subtitle */
    color: white;
    text-align: start;
    margin-left: 25%;
    margin-bottom: 20%;
    text-align: center;
  }

  .avatar {
    display: none;
  }
}

@media (max-width: 550px) {

  .navbarLogo {
    font-family: 'Jolly Lodger', cursive; /* equivalent to font-jolly-lodger */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white; /* equivalent to text-white */
    font-size: 3rem; /* equivalent to text-5xl */
    margin-top: 1rem; /* equivalent to mt-8 */
    cursor: pointer; /* equivalent to cursor-pointer */
    margin-left: 1rem; /* equivalent to ml-36 */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin-top: 90%;
    width: 100%;
  }

  .navbarLogo img {
    height: 80px; /* Adjusted height */
    width: 80px; /* Adjusted width */
    position: absolute;
  }
  
  .navbarItems {
    display: none;
  }

  .navbarLeft {
    width: auto;
  }
  .avatar {
    display: none;
  }

  .handleDrawerIcon {
    display: flex;
  }

  .navbarLogoLink {
    font-size: 3rem; /* Adjusted font size for the main text */
    color: white;
    text-align: start;
    margin-bottom: 0.25rem; /* Space between title and subtitle */
    margin-left: 34%;
    margin-top: 35%;
    text-align: center;
  }
  
  .navbarLogoSubtitle {
    font-size: 1rem; /* Smaller font size for subtitle */
    color: white;
    text-align: start;
    margin-left: 40%;
    margin-bottom: 20%;
    text-align: center;
  }

  .navbarRight {
    width: 30%;
  }
}
